*.py[cod]
*.*~
.#*
*#*#
.DS_Store
*.txt
.coverage.*
*lock*
#!travis.txt
#*.pdf
#!docs/*.pdf
#.~lock.*
#logs/*.log*
old
tmp
docs/htmlcov

.quercusrc

# C extensions
*.so
*.obj
*.o

# Packages
/*.egg
/*.egg-info
/dist/
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo
